*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* for cover the top navigation */
.wrap{
    margin-left: 50px;
    margin-right: 50px;
}
/* style the top navigation */
#top-nav{
    position: relative;
    height: 80px;
    width: 100%;
/*    background-color:#ffffcc; */
      background-color:#f9e1e0 /* new css */
/*    border-bottom: 2px solid orange; */
}

/* logo */
#logo{
    margin: 10px;
    float: left;
}
#logo > a > img{
  height: 60px;
}

/* Style Menu bar */
#menu{
    position: relative;
    top: 35px;
    left: 30px;
}
/* Style the unordered list menu */
ul {
    list-style-type: none;
    overflow: hidden;
}
/* Style the list of the menu */
li {
  float: left;
}
/* Style the list of the menu link */
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
/* Style the list of the menu link on hover */
li a:hover:not(.active) {
/*  border-bottom: 4px orange solid; */
    border-bottom: 4px solid #FF847C; /* new css */
}

.active {
/*  border-bottom: 4px orange solid; */
    border-bottom: 4px solid #FF847C; /* new css */ 
}
/* style the sign In Button */
#sign{
  float: right;
  position: relative;
  bottom: 55px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* style the sign in link*/
#sign a{
/*  border: 2px solid orange; */
    border: 3px solid #FF847C; /* new css */
  padding: 7px;
  border-radius: 5px;
}
/* change color on hover*/
#sign a:hover{
  color: white;
  background-color: orange;
}
/* make the other sign */
#sign2{
  float: right;
  position: relative;
  bottom: 55px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0%
}
/* style the sign in link*/
#sign2 a{
/*  border: 2px solid orange; */
    border: 3px solid #FF847C; /* new css */
  padding: 7px;
  border-radius: 5px;
}
/* change color on hover*/
#sign2 a:hover{
  color: white;
  background-color: orange;
    opacity: 0%
}

/* Style the content */
#content{
  padding: 20px;
/*  background-color: #ffcc66; */
    background-color: #bc85a3; /* new css */
}
/* Style the image size */
#img1 img{
    height: 200px;
    width: 200px;
/*    border: 3px solid #000 */
    border: 3px solid #FF847C; /* new css */
}
/* Style the content background */
#img2{
 /*   background-color: #ffffcc;  */
      background-color: #f9e1e0; /* new css */
}
/* Style the content background */
#wrap{
    margin-left: 50px;
    margin-right: 50px;
 /*   background-color: #fffcfc; */
      background-color: #f9e1e0; /* new css */
}
/* Style the Footer */
#footer{
  height: 80px;
  width: 100%;
/*  background-color: #ffffcc;  */
    background-color: #f9e1e0; /* new css */
/* border-top: 2px solid orange; */
    border-top: 2px solid #bc85a3; /* new css */
    border-bottom: 3px solid #FF847C; /* new css */
}
/* Style the footer paragraph */
#footer p{
  text-align: center;
}

/* S5 Mobile */
@media only screen and (min-width: 300px) and (max-width: 400px) {
    #logo > a > img{
    height: 80px;
    width: 160px;
    margin-right: 10px
    }
    
    #top-nav{
    position: relative;
    height: 300px;
    width: 100%;
/*    background-color:#ffffcc; */
      background-color:#f9e1e0/* new css */
/*    border-bottom: 2px solid orange; */
    }
    li a {
      display: block;
      text-align: center;
      padding: 10px 10px;
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: none;
        }
    ul {
    list-style-type: none;
    overflow: visible;
}
    #menu{
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 100px
}
    #sign{
    opacity: 0%
    }
    #sign a:hover{
        opacity: 0%  
    }
    #sign2{
    opacity: 100%
    }
    #sign a:hover{
        opacity: 100%
    }
    #wrap{
    margin-left: 10px;
    margin-right: 10px;
 /*   background-color: #fffcfc; */
      background-color: #f9e1e0; /* new css */
}
}
