*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* for cover the top navigation */
.wrap{
    margin-left: 50px;
    margin-right: 50px;
}
/* style the top navigation */
#top-nav{
    position: relative;
    height: 80px;
    width: 100%;
    background-color:#ffffcc;
    border-bottom: 2px solid orange;
}

/* logo */
#logo{
    margin: 10px;
    float: left;
}
#logo > a > img{
  height: 60px;
}

/* Style Menu bar */
#menu{
    position: relative;
    top: 35px;
    left: 30px;
}
/* Style the unordered list menu */
ul {
    list-style-type: none;
    overflow: hidden;
}
/* Style the list of the menu */
li {
  float: left;
}
/* Style the list of the menu link */
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
/* Style the list of the menu link on hover */
li a:hover:not(.active) {
  border-bottom: 4px orange solid;
}

.active {
  border-bottom: 4px orange solid;
}
/* style the sign In Button */
#sign{
  float: right;
  position: relative;
  bottom: 55px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* style the sign in link*/
#sign a{
  border: 2px solid orange;
  padding: 7px;
  border-radius: 5px;
}
/* change color on hover*/
#sign a:hover{
  color: white;
  background-color: orange;
}

/* Style the content */
#content{
  padding: 20px;
  background-color: #ffcc66;
}
/* this line about first content 2 img */
#first-content{
  text-align: center;
}
#second-content{
  text-align: center;
}
/* this line about diplay content */
#img1{
  display: inline-block;
}
/* style img */
#img1 > img{
  height: 300px;
  width: 533.328;
  margin: 10px;
}
#img1:hover{
  background-color: white;
}


/* Style the Footer */
#footer{
  height: 80px;
  width: 100%;
  background-color: #ffffcc;
  border-top: 2px solid orange;
}
/* Style the footer paragraph */
#footer p{
  clear: both;
  text-align: center;
}

